<launch>

	<!-- Load Robot -->
	<param name="robot_description"	textfile="$(find dreamer_viz)/robot/dreamer_ltw.urdf" /> 
	<!-- State Publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="gaze_marker_node" pkg="viz_tools" type="gaze_markers" output="screen" />

<!--	<param name="use_sim_time" value="false" /> -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dreamer_viz)/launch/dreamer_viz.rviz" required="true" /> 
</launch>