<?xml version="1.0"?>
<model>
  <name>Dreamer</name>
  <version>1.0</version>
  <sdf>robots/dreamer.urdf</sdf>

  <author>
   <name>Meka with edits by Gwen Johnson</name>
   <email>gwendolynbrook@gmail.com</email>
  </author>

  <description>
    Dreamer is a humanoid upper body robot.
  </description>
</model>
